*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 968px;
    margin: 0 auto;
    padding: 0 6%;
}
.gray-color{
    background-color: #eae0e0;
}
.primary-color{
    background: rgb(138, 132, 132);
}
nav{ 
    box-shadow: 1px 3px 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.nav-content{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.cart-item{
    position: relative;
}
.car-items{
    position: absolute;
    padding: 0.1rem;
    right: -8px;
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 9999px;
}
.car-items p{
    font-weight: bold;
    font-size: 15px;
    color: rgb(200, 50, 50);
}
.logo{cursor: pointer;}
.logo h2{
    font-size: 2rem;
    color:black;
}
.logo span{
    color: #ccc;
}
.logo a{
    text-decoration: none;
}
.nav-content .menu ul{
    display: flex;
    
}
.nav-content .menu ul li{
    display: inline-block;
    padding: 0 1rem;
}
.nav-content .menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.nav-content .menu ul li:hover{
    transition: all 0.5s ;
    transform: translateY(-5px);

}
.nav-content img{
    width: 50px;
    max-width: 100%;
    cursor: pointer;
}

.header-content{
    display: flex;
    padding: 4rem 0;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.descricao-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 4rem;
}
.descricao-header h2{
    font-size: 2rem;
}
.descricao-header h3{
    padding: 1rem 0;
    font-size: 1.2rem;
}
.descricao-header .button{
    display: inline-block;
    width: 160px;
    border: 1px solid black;
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 999999px;
    cursor:pointer;
    background-color: #e0dbdb;
}
.descricao-header .button:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
}
.product-header img{
    max-width: 100%;
}
.product-header img:hover {
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px); 
}
.section-content .cols{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    text-align: center;
}
main .products-content > h2{
    margin: 40px 0!important;
}
.section-content{
    padding: 4rem 2rem;
}
.section-content .product-single{
    width: 33..3%;
}
.section-content .product-single img{
    max-width: 100%;
    width: 300px;
    padding: 2rem 1.5rem;
    background-color: #eae0e0;
    border-radius: 10px;
    border: 4px solid #ccc;
    cursor: pointer;
}
.section-content .product-single img:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
}
main{
    padding: 4rem 0;
    text-align: center;
}
.product-main-single{
    text-align: left;
}
.product-main-single p{
    font-weight: bold;
    font-size: 18px;
}
.product-main-single h3{
    font-size: 15px;
    padding: 0.5rem 0;
}
.product-main-single h2{
    font-size: 18px;
    font-weight: lighter;
}

.product-main-single img{
    background-color: white;
    margin: 20px 0;
    max-width: 100%;
    width: 200px;
}
.product-main-single img:hover{
    transition: all 0.5s;
    cursor: pointer;
    transform: translateY(-5px);
}
main .cols{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.endereco{
    width: 40%;
    font-size: 14px;
}
.endereco p{
    margin: 10px 0;
}
.links h2{
    padding: 0;
}
.links ul{
    list-style-type: none;
}
.links li{
    padding: 5px 0;
}
.links a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.direitos{
    background-color: #6e6c6c;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.8rem 0;
}
.menu-icon{
    display: none;
}
form .container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}
form .container h2{
    text-align: center;
    padding: 10px 0;
    
}
form input[type=text]{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}
form textarea{
    width: 80%;
    height: 200px;
    padding: 10px;
    resize: vertical;
}
form input[type=submit]{
    margin-top: 20px;
    width: 160px;
    border: 1px solid black;
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 999999px;
    cursor:pointer;
    background-color: #e0dbdb;
}
@media screen and (max-width:768px){
    nav .menu ul{
        display: none!important;
    }
    nav .menu ul.on{
        display: block!important;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(57, 55, 55, 0.4);
      
    }
    .menu ul li{
        padding: 0.8rem 0 !important;
        display: block!important;
    }
    .menu ul li a{
        font-size: 18px;
    }
    .menu-icon{
        display: block;
    }
    .cart{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-icon{
        width: 50px;
    }
    .header-content{
        gap: 4rem;
        flex-direction: column-reverse;

    }
    main .cols{
        justify-items: center;
        grid-template-columns: repeat(1,1fr)!important;
    }
    main .cols3{
        gap: 10px;
        grid-template-columns: repeat(2,1fr)!important;
    }
    .flex-footer{
        text-align: center;
        flex-direction: column;
    }
    .flex-footer>*{
        margin: 20px 0;
    }
}